body {
    background: #454545;
    color: white;
    font-family: "Mont DEMO";
}

.content {
    border: 1px white solid;
    padding: 20px;
    width: 50%;
    margin-bottom: 20px;
}

.question {
    margin-bottom: 10px;
}

.checked, .button {
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
    border: white solid 1px;
    display: inline-block;
}
